.footer p {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

body{
    background: #343a40;
    color: white !important;
}

.navbar{
    background: #252a2e !important;
}

.card{
    background: #252a2e !important;
}

input[type='checkbox'] {
    accent-color: #0e7e36;
}
