.action-icon a {
    font-size: 20px;
    padding: 5px;
    transition: all 0.5s ease;
}

.action-icon a:hover {
    background: #becfeb;
}

.swal2-cancel {
    margin-right: 10px !important;
}

.card {
    overflow: auto;
    border-radius: 10px;
}
